Topics that we are going to cover...
###### 1) Using a CSV file
###### 2) Using Excel
###### 3) Python Dictionary
###### 4) List of Tuples
###### 5) List of dictionaries

In [1]:
import pandas as pd

###### 1) Using a CSV file

In [5]:
pd.read_csv('D:\Pandas\CodeBasic\\datasets\\03weather_data.csv', sep = '\t')

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

###### 2) Using Excel

In [11]:
dfexcel = pd.read_excel('D:\\Pandas\\CodeBasic\\datasets\\03weather_data.xlsx', 'Sheet1') # Loading data from an excel file

When reading data from an excel file, you must remember to specify the sheet name that you are reading from

In [12]:
dfexcel

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

###### 3) Python Dictionary

In [14]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}

This is the information that we are going to use to create a DataFrame from a dictionary

In [18]:
dfdict = pd.DataFrame(weather_data)

In [19]:
dfdict

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2

###### 4) List of Tuples

In [20]:
weather_tuples = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

Each Tuple becomes a row in your df. Not that there are no column names here just data for the rows

In [21]:
dftuples = pd.DataFrame(data=weather_tuples, columns=['day','temperature','windspeed','event'])

So when we create the df we need to provide a list of column names

In [22]:
dftuples # Here we see that the df was created successfully

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

###### 5) List of dictionaries

In [23]:
weather_lod = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]

We have a list and inside that list is a set of dictionaries. The keys rep-resent the column and the data is the value

In [26]:
dflod = pd.DataFrame(weather_lod)

In [27]:
dflod # Once again, our df has been created successfully

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2

For a full list of sources that can be used to create pandas df, serach for pandas io tools