In [2]:
import pandas as pd

In [3]:
drinks = pd.read_csv('D:\\Python\\DataSchool\\data_files\\drinks_by_country.csv')

In [4]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [8]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [9]:
drinks.beer_servings.astype(float) # This converts the beer_serving column from an integer to a float

0        0.0
1       89.0
2       25.0
3      245.0
4      217.0
5      102.0
6      193.0
7       21.0
8      261.0
9      279.0
10      21.0
11     122.0
12      42.0
13       0.0
14     143.0
15     142.0
16     295.0
17     263.0
18      34.0
19      23.0
20     167.0
21      76.0
22     173.0
23     245.0
24      31.0
25     231.0
26      25.0
27      88.0
28      37.0
29     144.0
       ...
163    128.0
164     90.0
165    152.0
166    185.0
167      5.0
168      2.0
169     99.0
170    106.0
171      1.0
172     36.0
173     36.0
174    197.0
175     51.0
176     51.0
177     19.0
178      6.0
179     45.0
180    206.0
181     16.0
182    219.0
183     36.0
184    249.0
185    115.0
186     25.0
187     21.0
188    333.0
189    111.0
190      6.0
191     32.0
192     64.0
Name: beer_servings, Length: 193, dtype: float64

In [10]:
drinks['beer_servings'] = drinks.beer_servings.astype(float) # To convert the actual dataset column over to the new datatype

In [11]:
drinks.dtypes

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object