## 18 Time Analysis Mini Series Pt5 - Period
This tutorial continues pandas time series analysis by introducing period and periodIndex. Periods are time duration used to represent many concepts in finance. Pandas provide rich support for period airthmetic. You can create quarterly, yearly, annual etc. periods and perform airthmetic on them. period_range can be used to create periodIndex between specified start and end.

In [1]:
import pandas as pd

#### Yearly Time Period
We are going to create the 2016 yearly time preiod

In [2]:
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

This creates a period object. A-DEC means that the period is annual and ends in December.

In [3]:
dir(y) # Shows all the properties of this time period objecu

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_comparables',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [4]:
y.start_time # Tells us that the object/period starts on 1st Jan 2016

Timestamp('2016-01-01 00:00:00')

In [5]:
y.end_time # Tells us the end of the period

Timestamp('2016-12-31 23:59:59.999999999')

In [7]:
y.is_leap_year # Is this time period a leap year?

True

#### Monthly Time Period

In [9]:
m = pd.Period('2017-12', freq = 'M') # This creates a monthly time period
m # You might be able to leave off the freq argument

Period('2017-12', 'M')

In [10]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [11]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

It is actually possible to perform mathematically operations on time period objects eg...

In [12]:
m + 1 # ie we are adding a month to the one that we started with

Period('2018-01', 'M')

#### Daily Time Period

In [13]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [14]:
d + 1

Period('2016-02-29', 'D')

This is showing that the Period command is calendar aware and will take into account the fact that some years are leap years and will make that adjustment when doing maths on the time period.<br>
#### Weekly and hourly time periods are also available using the command...

In [15]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

Period('2017-08-15 23:00', 'H')

In [16]:
h + 1 # If we add one hour to our time period object, we get the expected result

Period('2017-08-16 00:00', 'H')

In [17]:
h.end_time # Shows us the end of that hour

Timestamp('2017-08-15 23:59:59.999999999')

In [18]:
h + pd.offsets.Hour(1) # Will give us the same result as the h + 1 sum above

Period('2017-08-16 00:00', 'H')

We can also use the minus sign to give us a time period before the start of the stated time period ie h - 1 will give us the time one hour before the starting time of h. This of course works for all the above time periods as well.<br>
#### Quarterly Time Period

In [20]:
q1= pd.Period('2017Q1')
q1

Period('2017Q1', 'Q-DEC')

The result is supposed to mean the that time period Q1 for 2017 was created and the Q-DEC means that it is quarterly and ends in December...not sure how that is possible? Q1 ends at the end of March!

In [22]:
q1 + 1 # Gives you the Q2...also ending in December!?

Period('2017Q2', 'Q-DEC')

**Custom Quarters**<br>
Fiscal data for companies who have less traditional starts of their financial year ie Walmart's year actually begins in Feb and ends in Jan. This means that their quarters are slightly different from most comapnies. This is how you would create custom quarters/periods...

In [23]:
walmart= pd.Period('2017Q1', freq='Q-JAN') # We have to specify Q ending in January

In [24]:
walmart.start_time # The start of Q1 is 1st Feb rather then the normal 1 st Jan

Timestamp('2016-02-01 00:00:00')

In [25]:
walmart.end_time

Timestamp('2016-04-30 23:59:59.999999999')

We can see that the end time of this quarter is the end of April rather than the end of March.<br><br>
**asfreq()**<br>We can also us the asfreq() function to convert the freq into another frequency...

In [26]:
walmart.asfreq('M', how='start') # We are changing the freq from quartely to monthly using the start date

Period('2016-02', 'M')

Now we have a monthly time period starting at February 2016. You can also use the end time to make the conversion

In [27]:
q2 = pd.Period('2018Q2', freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

**Mathematic operations between two periods**

In [30]:
q3 = pd.Period('2018Q1', freq='Q-JAN')

In [31]:
q2 - q2 # Littel error but we do get a zero which is kinda what we would expect, right?

0

In [32]:
q3 - q2 # This shows us a good result as technically q2 is "bigger" than q3

-1

In [33]:
q2 - q3 # This tells us that there is one quarte between Q3 and Q2

1

If you try mathematical operations on different time periods eg hours and quarterlys then you will get an error, you can only really do this on time periods of the same format
For more information, visit https://pandas.pydata.org/pandas-docs/version/0.22.0/timeseries.html & search for "Anchored Offsets"