In [1]:
import pandas as pd
ufo = pd.read_csv('D://Python//DataSchool//data_files//uforeports.csv')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [2]:
ufo.shape

(18241, 5)

In [3]:
ufo.drop('City', axis =1).head() # We can quite clearly see that the city column has gone

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [7]:
ufo.head() # Even tho my change above wasn't set to permanent, the City column doesn't exist

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [8]:
ufo.head()

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [9]:
ufo.drop('City', axis =1, inplace = True) # inplace param makes the drop command permanent

ValueError: labels ['City'] not contained in axis

In [11]:
ufo.dropna(how = 'any').shape #dropping missing values

(2490, 4)

In [12]:
ufo.shape

(18241, 4)

In [ ]:
# ufo.set_index('Time', inplace = True) is the same as ufo = ufo.set_index('Time')

In [13]:
ufo.fillna(method='bfill').tail() # to see what the bfill will do for us

      Colors Reported Shape Reported State              Time
18236             RED       TRIANGLE    IL  12/31/2000 23:00
18237             RED           DISK    IA  12/31/2000 23:00
18238             RED          LIGHT    WI  12/31/2000 23:45
18239             RED          LIGHT    WI  12/31/2000 23:45
18240             NaN           OVAL    FL  12/31/2000 23:59

In [14]:
ufo.fillna(method='ffill').tail() # to see what the ffill will do for us

      Colors Reported Shape Reported State              Time
18236             RED       TRIANGLE    IL  12/31/2000 23:00
18237             RED           DISK    IA  12/31/2000 23:00
18238             RED           DISK    WI  12/31/2000 23:45
18239             RED          LIGHT    WI  12/31/2000 23:45
18240             RED           OVAL    FL  12/31/2000 23:59