In [1]:
import pandas as pd
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [2]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 7.6+ KB

In [4]:
drinks.info(memory_usage='deep') # To force pandas to count the memory usage accurately

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 19.9 KB

In [5]:
drinks.memory_usage() # Memory usage for each column (in bytes)

Index                             40
country                          772
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                        772
dtype: int64

In [6]:
drinks.memory_usage(deep=True) # Accurate memory usage for each column

Index                             40
country                         7184
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                       6928
dtype: int64

In [7]:
sorted(drinks.continent.unique()) # To get all the unique values for the continent series

['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

In [9]:
drinks['continent'] = drinks.continent.astype('category')

In [10]:
drinks.dtypes # The dtypes shows us that country is now category

country                           object
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [11]:
drinks.continent.head() # We can see the categories and what values makes them up

0      Asia
1    Europe
2    Africa
3    Europe
4    Africa
Name: continent, dtype: category
Categories (6, object): [Africa, Asia, Europe, North America, Oceania, South America]

In [12]:
drinks.continent.cat.codes.head()

0    1
1    2
2    0
3    2
4    0
dtype: int8

In [13]:
drinks.memory_usage(deep=True) # Have we reduced our memory usage?

Index                             40
country                         7184
beer_servings                   1544
spirit_servings                 1544
wine_servings                   1544
total_litres_of_pure_alcohol    1544
continent                        512
dtype: int64

In [14]:
drinks['country'] = drinks.country.astype('category') # doing the same thing for country

In [15]:
drinks.memory_usage(deep=True) # This didn't go very well ...country has actually gotten larger!

Index                              40
country                         10642
beer_servings                    1544
spirit_servings                  1544
wine_servings                    1544
total_litres_of_pure_alcohol     1544
continent                         512
dtype: int64

In [16]:
drinks.country.cat.categories # The full list of 193 categories...ouch!

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', length=193)

##### Bonus Tip

In [18]:
df = pd.DataFrame({'ID':[100, 101,102,103], 'quality':['good', 'very good', 'good', 'excellent']})

In [19]:
df

    ID    quality
0  100       good
1  101  very good
2  102       good
3  103  excellent

In [20]:
df.sort_values('quality') # This gives us an alphabetical order

    ID    quality
3  103  excellent
0  100       good
2  102       good
1  101  very good

In [22]:
df['quality'] = df.quality.astype('category', categories=['good', 'very good', 'excellent'], ordered=True)

TypeError: _astype() got an unexpected keyword argument 'categories'

In [23]:
df.quality # See the categories at the bottom

0         good
1    very good
2         good
3    excellent
Name: quality, dtype: category
Categories (3, object): [good, very good, excellent]

In [24]:
df.sort_values('quality') # Now sorted in logical order

    ID    quality
0  100       good
2  102       good
1  101  very good
3  103  excellent

In [25]:
df.loc[df.quality > 'good', :]

TypeError: Unordered Categoricals can only compare equality or not