In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style

style.use('ggplot')

web_stats = {'Day':[1,2,3,4,5,6],
             'Visitors':[43,34,65,56,29,76],
             'Bounce Rate':[65,67,78,65,45,52]}

df = pd.DataFrame(web_stats)
print(df)

   Bounce Rate  Day  Visitors
0           65    1        43
1           67    2        34
2           78    3        65
3           65    4        56
4           45    5        29
5           52    6        76

In [2]:
print(df)
print(df.tail())
print(df.head(2))

   Bounce Rate  Day  Visitors
0           65    1        43
1           67    2        34
2           78    3        65
3           65    4        56
4           45    5        29
5           52    6        76
   Bounce Rate  Day  Visitors
1           67    2        34
2           78    3        65
3           65    4        56
4           45    5        29
5           52    6        76
   Bounce Rate  Day  Visitors
0           65    1        43
1           67    2        34

In [3]:
df.set_index('Day')

     Bounce Rate  Visitors
Day
1             65        43
2             67        34
3             78        65
4             65        56
5             45        29
6             52        76

In [4]:
df.set_index('Day', inplace = True)

In [5]:
df

     Bounce Rate  Visitors
Day
1             65        43
2             67        34
3             78        65
4             65        56
5             45        29
6             52        76

In [6]:
print(df['Visitors'])

Day
1    43
2    34
3    65
4    56
5    29
6    76
Name: Visitors, dtype: int64

In [8]:
print(df.Visitors)

Day
1    43
2    34
3    65
4    56
5    29
6    76
Name: Visitors, dtype: int64

In [10]:
print(df[['Bounce Rate', 'Visitors']])

     Bounce Rate  Visitors
Day
1             65        43
2             67        34
3             78        65
4             65        56
5             45        29
6             52        76

In [11]:
print(df.Visitors.tolist())

[43, 34, 65, 56, 29, 76]

In [12]:
print(df['Visitors'].tolist())

[43, 34, 65, 56, 29, 76]

In [13]:
import numpy as np

In [14]:
print(np.array(df[['Bounce Rate', 'Visitors']]))

[[65 43]
 [67 34]
 [78 65]
 [65 56]
 [45 29]
 [52 76]]

In [15]:
df2 = pd.DataFrame(np.array(df[['Bounce Rate', 'Visitors']]))

In [16]:
df2

    0   1
0  65  43
1  67  34
2  78  65
3  65  56
4  45  29
5  52  76