In [1]:
import pandas as pd

Creating our dataframes to use in the video

In [2]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

###### Merge

In [3]:
merge = pd.merge(df1, df2, on='HPI')

In [4]:
merge

   HPI  Int_rate_x  US_GDP_Thousands_x  Int_rate_y  US_GDP_Thousands_y
0   80           2                  50           2                  50
1   85           3                  55           3                  55
2   85           3                  55           2                  55
3   85           2                  55           3                  55
4   85           2                  55           2                  55
5   88           2                  65           2                  65

In [5]:
merge02 = pd.merge(df1, df2, on=['HPI', 'Int_rate'])

In [6]:
merge02

   HPI  Int_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80         2                  50                  50
1   85         3                  55                  55
2   88         2                  65                  65
3   85         2                  55                  55

Why, in reality, would we merge? It doesn't seem to be much better than concatenate and append
If you were running a website and had users registering. they might have forum posts, settings as well as their user credentials. You wouldn't want all of that in just one table. So you would keep it all in different tables but if you needed all their information at once, you could merge on their username and have everything about them available

###### Join

In [12]:
# df1.set_index('HPI', inplace=True)
# df3.set_index('HPI', inplace=True)

Now they share an index but no columns which is important for join

In [13]:
joined = df1.join(df3)

In [14]:
joined

     Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
HPI
80          2                50            50             7
85          3                55            52             8
85          3                55            53             6
85          2                55            52             8
85          2                55            53             6
88          2                65            50             9